/* benefits */

@media (max-width: 756px) {
    .benefits{
      min-height: 90vh;
      gap: 0;
    }
    .side-1{
        width: 100%;
        padding: 2vw;
    }
    .top1{
        width: 100%;
    }
    .side-2 {
      width: 100%;
      padding: 2vw;
      height: auto;
      /* background-color: red; */
    }
    .side2-right{
      width: 100%;
      padding: 12vw;
    }
  }
  